.logo-alura{
    margin-top: 40px;
    margin-bottom: 40px;
}

.contenedor{
    display: flex;
    margin-left: 45px;
    display: flex;
}

.caja-2{
    margin-left: 55px;
}

.elementos-footer{
    display: flex;    
    flex-direction: column;
    align-items: center;
}

.autor{
    font-size: x-large;
    font-family: sans-serif;
}