body{
    background-color: greenyellow;
    background-size: cover;
}

.logo-alura{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 130px;
}

.contenedor{
    display: flex;  
    flex-wrap: wrap;  
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    width: 100vw;
    margin: 0 auto;
}

.contenedor>.caja-1{
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
}

#area-1, #area-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 24px;
    padding: 20px;
    color: black;
    background-color: #D8DFE8;
    font-size: large;
    font-family: sans-serif;
    
}

#area-1{    
    border: none;
}

#area-2{
    opacity: 0.6;
    border: 0;
}

.info{
    font-size: medium;
    vertical-align: text-top;
    text-align: center;
}

textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    width: 100%;
    resize:none;
    font-size: larger;
    
}

.botones-1-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;    
}

.botones-3{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    
}

.boton1,.boton2,.boton3{
    width: 245px;
    height: 52px;
    border-radius: 24px;
    margin-bottom: 30px;
    font-size: x-large;
}

.boton1{
    background-color: #0A3871;
    color: white;
}

.boton2{
    background-color: #D8DFE8;
    color: #0A3871;
    margin-left: 10px;
}

.boton3{
    background-color: white;
    color: #0A3871;
}



.caja-1{
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

.caja-2{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 24px;
    background-color: #D8DFE8;
    
}

.elementos-footer{    
    display: flex;    
    flex-direction: column;
    align-items: center;
}

.autor{
    display: flex;
    color: rgb(62, 17, 212);
    justify-content: center;
    font-size: x-large;
    font-family: sans-serif;
    text-align: center;
}

.linkedin{
    margin-right: 25px;
}

@media (max-width:450px){
    .caja-1,.caja-2{
        width: 70%;
    }
}